/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
-webkit-appearance: none;
border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* コードCSSスタート */
html {
box-sizing: border-box;
}
*, *::before, *::after {
box-sizing: inherit;
}

/* 共通 */
button:hover {
	opacity: .5;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.main {
	flex: 1;
  background-color: #EEEEEE;
	overflow-y: scroll;
}

/* ヘッダー */
header {
	background-color: #FFD400;
	display:flex;
	align-items: center;
	height: 100px;
}

.button5 {
	display: inline-block;
	padding-right: 10px;
}

/* メイン */
body {
	margin: 0px;
	overflow: hidden;
}

/* delete */
.join_thank_page {
	margin:150px auto 20px auto;
  background-color: rgba(255, 253, 237, 1);
	width: 50%;
	height: 45%;
}

.form5 {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-bottom: 65px;
}

button {
	color: #1b2538;
  background: rgba(255, 253, 237, 1);
	padding: 10px 30px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}

.end{
	display: flex;
	justify-content: center;
	padding-top:65px ; 
}

.title {
	margin-right: auto;
	margin-left: 20px;

}

.come {
	display:block;
	display:flex;
	justify-content: center;
}

.form6 {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-bottom: 20px;
}

.keikoku{
	margin-bottom: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
}

/* update */
.join_page {
	margin:70px auto 100px auto;
	background-color: rgba(255, 253, 237, 1);
	width: 50%;
}

.join_page2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_title {
	margin-bottom: 10px;
}

.form_contents input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	/* transition: 0.3s; */
	letter-spacing: 1px;
	color: #1b2538;
	border: 1px solid #1b2538;
	border-radius: 4px;   
}

.ef input[type='text']:focus {
	border: 1px solid #02bef7de;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(2, 213, 250, 0.5);
}

.form2 {
	display: flex;
	justify-content: center;
	margin-bottom: 0px;
	margin-top: 10px;
	padding: 20px;
}

.error {
	/* display: flex;
	justify-content: center; */
	color:red;
	margin-top: 0px;
	margin-bottom: 10px;
}

.recipes_form {
	margin:20px auto 20px auto;
	background-color: rgba(255, 253, 237, 1);
}

/* check */
.recipe_form {
	margin:70px auto 100px auto;
	background-color: rgba(255, 253, 237, 1);
	width: 50%;
}

.form_title2 {
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.page_title {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	padding-top: 20px;
	color:#0295f7;  
}

/* フッター */
footer {
	background-color: #FFD400;
	text-align: center;
	padding: 18px 0;
}
