/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* コードCSSスタート */

/* ヘッダー */
body {
    margin: 0;
    overflow: hidden;
}

.button5 {
    display: inline-block;
    padding-right: 10px;
}
  
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
  
header {
    background-color: rgba(255, 253, 237, 1);
    display:flex;
    align-items: center;
    height: 100px;
}

.title {
    margin-right: auto;
    margin-left: 20px;
    /* margin-top: auto;
    margin-top: auto; */
}

/* ヘッター・メイン共通 */
button {
    color: #1b2538;
    background: #acfcf1;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* メイン */
/* 共通 */
.error {
    /* display: flex;
    justify-content: center; */
    color:red;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page_title {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 253, 237, 1);
    color:#0295f7;
    margin-bottom: 20px;
    padding-top: 20px;
}

.form_title2 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form_contents{
    display: flex;
    justify-content: center;
}

.form_contents input[type='text'],input[type='password'] {
    font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	/* transition: 0.3s; */
	letter-spacing: 1px;
	color: #1b2538;
	border: 1px solid #1b2538;
	border-radius: 4px;   
}

.ef input[type='text']:focus {
	border: 1px solid #02bef7de;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(2, 213, 250, 0.5);
}

.ef input[type='password']:focus {
	border: 1px solid #02bef7de;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(2, 213, 250, 0.5);
}

/* index */
.join_page {
    margin:60px auto 40px auto;
    padding-bottom: 10px;
    background-color: rgba(255, 253, 237, 1);
    width: 50%;
}

.login {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.form2{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: auto;
}

.join_page2{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* check */
.join_check_page{
    margin:100px auto 10px auto;
    background-color: rgba(255, 253, 237, 1);
    width: 50%;
}

/* thank */
.join_thank_page {
    margin:150px auto 20px auto;
    background-color: rgba(255, 253, 237, 1);
    width: 50%;
    height: 45%;
}

.end{
    display: flex;
    justify-content: center;
    padding-top:65px ; 
}

.form5{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10px;
    padding-bottom: 65px;
}
  
.main {
    flex: 1;
    background: linear-gradient(to right, #0295f7, #F8FFAE);
    overflow-y: scroll;
}
  
footer {
    background-color: rgba(255, 253, 237, 1);
    text-align: center;
    padding: 18px 0;
}